@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #242424;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* hide skrolbar*/
* {
    &::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    & {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    & {
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}
