@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #242424;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* hide skrolbar*/
* {
    &::-webkit-scrollbar {
        display: none;
    }

    & {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    & {
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;

    transition-property:
        color,
        background-color,
        border-color,
        outline-color,
        text-decoration-color,
        fill,
        stroke,
        --tw-gradient-from,
        --tw-gradient-via,
        --tw-gradient-to,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter,
        display,
        content-visibility,
        overlay,
        pointer-events;
    transition-timing-function: var(
        --tw-ease,
        var(--default-transition-timing-function)
            /* cubic-bezier(0.4, 0, 0.2, 1) */
    );
    transition-duration: var(
        --tw-duration,
        var(--default-transition-duration) /* 150ms */
    );
}

body::-webkit-scrollbar {
    display: none;
}
